body {
	background-image : url("millimeter.png");
	margin-right: 800px;
}

h1 {
background-color: rgba(0,205,50,0.4);
border: solid rgba(50,155,50,0.8) 5px;
padding: 6px;
margin-bottom: 40px;
}


h2 {
	background-color: rgba(0, 117, 29, 0.4);
border: solid rgba(37, 117, 37, 0.8) 5px;
padding: 6px;
}

p {
	background-color: rgba(0, 82, 129, 0.301);
	border: solid rgba(0, 0, 255,1) 2px;
	margin-top: -18px;
	padding: 6px;
	font-size: 103%;
}