h1{color:lightseagreen}
body{border: solid gray 40px;
    background-color: antiquewhite;
    padding: 30px;
}
.first{
background-color: cadetblue;
padding: 30px;
margin-bottom: 30px;
font-weight: 800;
line-height: 200%;
font-style: oblique;}
.second{
background-color: seagreen;
;}
.first h2{color:goldenrod}
.second h2{color: darkred;}